**Project:** IMDB Top 250 Movies of All Time

**Scrapped Website:** https://www.imdb.com/chart/top/?ref_=nv_mv_250

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.11/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.11/dist-packages (from openpyxl) (2.0.0)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Importing .xlsx File from Google Drive**

In [ ]:
import pandas as pd

df = pd.read_excel('/content/drive/My Drive/IMDB_Top250.xlsx', sheet_name = 'Sheet1')
print(df.head(10))

   Rank                                              Title  Release Runtime  \
0     1                           The Shawshank Redemption     1994  2h 22m
1     2                                      The Godfather     1972  2h 55m
2     3                                    The Dark Knight     2008  2h 32m
3     4                              The Godfather Part II     1974  3h 22m
4     5                                       12 Angry Men     1957  1h 36m
5     6      The Lord of the Rings: The Return of the King     2003  3h 21m
6     7                                   Schindler's List     1993  3h 15m
7     8                                       Pulp Fiction     1994  2h 34m
8     9  The Lord of the Rings: The Fellowship of the Ring     2001  2h 58m
9    10                     The Good, the Bad and the Ugly     1966  2h 58m

      Rated  Ratings
0         R      9.3
1         R      9.2
2     PG-13      9.0
3         R      9.0
4  Approved      9.0
5     PG-13      9.0
6         R      9.0
7         R      8.9
8     PG-13      8.9
9         R      8.8

**Checking for Any Missing Values**

In [ ]:
 missing_values = df.isnull().sum()
 print(missing_values)

Rank       0
Title      0
Release    0
Runtime    0
Rated      5
Ratings    0
dtype: int64

**Handling Missing Values**

In [ ]:
df['Rated'].fillna('Not Rated', inplace=True)

In [ ]:
print(df)

     Rank                      Title  Release Runtime      Rated  Ratings
0       1   The Shawshank Redemption     1994  2h 22m          R      9.3
1       2              The Godfather     1972  2h 55m          R      9.2
2       3            The Dark Knight     2008  2h 32m      PG-13      9.0
3       4      The Godfather Part II     1974  3h 22m          R      9.0
4       5               12 Angry Men     1957  1h 36m   Approved      9.0
..    ...                        ...      ...     ...        ...      ...
245   246              Amores Perros     2000  2h 34m          R      8.0
246   247                   The Help     2011  2h 26m      PG-13      8.1
247   248                    Rebecca     1940  2h 10m   Approved      8.1
248   249  A Silent Voice: The Movie     2016  2h 10m  Not Rated      8.1
249   250                  Andhadhun     2018  2h 19m  Not Rated      8.2

[250 rows x 6 columns]

In [ ]:
df.to_excel('updated_file.xlsx', index=False)